	.conteudo{
text-align: left;

	}
	button{
background-color: red;
font-size: 32px;
padding: 8px 20px;
cursor: pointer;
	}

body{
background-color: #008000;

}


h3{

font-size: 52px;
padding: 8px 20px;
cursor: pointer;

}